body{
  font-family: 'Ubuntu', 'sans-serif';
  font-size: 22px;
  margin: 0;
  position: relative;
}
/***********************
*** Miscelaneas
************************/
/*centrando el contenido de nuestra pagina*/
.contenedor{ 
  width: 960px;
  margin: auto;
  min-height: 700px;
}
header h1{
  text-align: center;
  font-size: 50px;
}
.invisible{
  display: none;
}
.centrado{
  padding: 20px 0;
  text-align: center;
}
.clearfix{
  clear: both;
}
.clearfix:after,
.cleafix:before{
  content: "";
  display: table;
}
/***********************
*** Clases para los botones
************************/
.oKay,
.cancel{
  display: inline-block;
  min-width: 100px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 15px;
  -webkit-border-radius:5px;
  -mox-border-radius:5px;
  border-radius:5px;
}
.oKay{
  background: #02BD3A;
  border: 1px solid #009F50;
}
.cancel{
  background: #E80000;
  color: white;
  border: 1px solid #CC0000;
}
/***********************
*** cadenero
************************/
#cadenero{
  margin: 80px 0;
  overflow: visible;
}
#cadenero:after,
#cadenero:before{
  content: "";
  display: table;
  clear: both;
}
#cadenero img,
#cadenero form{ 
  float:left;
}
#mnsj1{
  display: none;
}
/***********************
*** parte1
************************/
#parte1{
  margin: 50px 0;
}
#pregunta{
  text-align: center;
}
/***********************
*** parte2
************************/
#Respuesta{
  display: none;
}
#imgrespuesta img{
  width: 300px;
  height: 300px;
}
/***********************
*** Footer
************************/
footer{
  clear: both;
  background: #646C73;
  color: white;
  display: block;
  margin: 0;
  position: fixed;
  height: 10%;
  width: 100%;
  top: 90%;
  border-top: 1px solid #5A5A5A;
  box-shadow: 0px -1px 5px 1px #000;
}
footer:before,
footer:after{
  content: "";
  display: table;
}
footer p{
  text-align: center;
}
/***********************
*** Boton retry
************************/
#retry{
  margin: none;
  font-size: 18px;
}
